.header {
  top: 0;
  display: flex;
  position: absolute;
  height: 49px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 0;
}

.nav {
  bottom: 0;
  position: fixed;
  height: 40px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.h2 {
  font-size: 21px;
  font-weight: 700;
}

.section {
  display: block;
  padding-top: 100px;
  position: relative;
  overflow-y: scroll;
}
